.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-base {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.header-text {
  font-size: 36px;
  color: crimson;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* font-family: "Arial", sans-serif; */
  /* Add a subtle text shadow */
  /* You can add more styles here to customize the font family, weight, etc. */
}

/* Styles for the search component */
.App-search {
  background-color: #15387c;
  border-radius: 10px;
  border: 2px solid blueviolet;
  padding: 20px;
  /* Increase padding to provide more space inside the container */
  width: 300px;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Optional: Style the input elements inside the .App-search container */
.App-search input {
  display: block;
  width: 100%;
  padding: 6px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  /* Add a light border for better visibility */
  border-radius: 5px;
  /* Add border radius for a smoother appearance */
  background-color: #282c34;
  color: white;
  font-size: 16px;
}

/* Optional: Style the submit button inside the .App-search container */
.App-search button {
  display: block;
  width: 100%;
  padding: 8px;
  border: #15387c;
  background-color: rgb(28, 222, 51);
  color: rgb(35, 18, 55);
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  /* Add border radius for a rounded button */
  transition: background-color 0.3s ease;
}

/* Optional: Add a hover effect to the submit button */
.App-search button:hover {
  background-color: darkblue;
}

.table-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.table-container {
  flex: 1;
  padding: 8px;
}

.swiggyTable table {
  color: rgb(255, 196, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.zomatoTable table {
  color: rgb(255, 0, 76);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 3px solid #00a5ce;
  text-align: left;
  padding: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 4px;
}

.suggestion {
  margin: 0 auto;
  width: 70%;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
}

.suggestion h4 {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: bold;
  color: #22ff0e;
  animation: blink 4s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* Add styles for the Zomato suggestion */
.zomatoCheap {
  border: 2px dashed red;
  color: #0099ff;
  font-weight: bold;
}

/* Add styles for the Swiggy suggestion */
.table-container.swiggyTable .swiggyCheap {
  color: #09ff00;
  font-weight: bold;
}

.table-container.zomatoTable .zomatoCheap {
  color: #0099ff;
  font-weight: bold;
}


.s {
  color: rgb(255, 169, 71);
  font-weight: bold;
}

.z {
  color: rgb(247, 72, 72);
  font-weight: bold;
}

.initial {
  color: #ff0080;
  font-weight: 500;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}